page-worker-job-detail {
  .worker-job-profile {
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .worker-job-detail {
    width: 100%;
    background: white;
    position: absolute;
  }
}
